/* Add a black background color to the top navigation */

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;500&display=swap');


ul {
    list-style-type: none;
    margin-top: 24px;
    padding-right: 3rem;
    padding-left: 3rem;
    overflow: hidden;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: rgb(0, 0, 0);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }

  .logotext{
    font-family:'Roboto', monospace;
    font-weight: 650;
    letter-spacing: 0.4rem;
    font-size: 30px;
    line-height: 10px;
  }


  .navitems{
    line-height: 10px;
    display: inline block;
    vertical-align: middle;
    font-size: 20px;
    float: right;
    font-weight: 40;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }

  
  .row {
    display: flex;
    flex-wrap: wrap;
    padding: 0 10px;
  }
  
  /* Create four equal columns that sits next to each other */
  .column {
    flex: 20%;
    max-width: 100%;
    padding: 0 10px;
  }
  
  .column img {
    margin-top: 8px;
    padding: 0 10px;
    vertical-align: middle;
    width: 100%;
  }
  .burgermenu {
    visibility: hidden;
    float: right;
  }

  .burgerbar {
      width: 35px;
      height: 5px;
      background-color: black;
      margin: 6px 0;
      visibility: hidden;
    }
  
  /* Responsive layout - makes a two column-layout instead of four columns */
  @media screen and (max-width: 600px) {
    .column {
      flex: 25%;
      max-width: 25%;
    }

  }
  
  /* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 700px) {
    .column {
      flex: 100%;
      max-width: 100%;
    }
    .navitems{
      display: none;
    }
    .burgerbar{
      visibility: visible;
    }
  }
  .censdter {
    padding-left: 4rem;
    padding-right: 4rem;
    width: 100;
    border-style: dot;
  }